<!DOCTYPE html>
<html>
<head>
    <title>欢迎光临</title>
    <style>
        body {
            background-image: url('/static/background.jpg');
            background-size: cover;
            background-position: center;
            height: 100vh;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 3em;
            text-shadow: 2px 2px 4px #000000;
            font-family: 'Microsoft YaHei', sans-serif;
        }
    </style>
</head>
<body>
    <div>欢迎光临</div>
    <div>这是测试页面，龙浩的第一个远程web!</div>
</body>
</html>
